@media screen and (min-width: 750px) {
  .menu-container {
    .title {
      justify-content: start;

      .heart-btn {
        margin-left: 12px;
      }
    }
  }

  .Menu {
    .item-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
  }

  .Nav-menu {
    height: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .Menu {
    .item-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1336px) {
  body, .Nav-menu {
    max-width: 1336px;
    margin: auto;

    .menu-container, .Footer {
      padding: 1rem 4rem;
    }
  }
}

