@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.Nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #aaa;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #fff;
}
.Nav__link {
  font-size: 18px;
  position: absolute;
  left: 1.5rem;
}
.Nav img {
  width: 46%;
}

.Location {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  margin-top: 50px;
  font-size: 16px;
  color: #353535;
  position: relative;
}
.Location i {
  position: absolute;
  left: 28%;
}

.Intro {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  background-color: #f6f6f6;
  padding: 2rem 0;
}
.Intro__header {
  width: 75%;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  font-size: 26px;
}
.Intro p {
  width: 85%;
  font-size: 18px;
  margin: 0 0 1.8rem 0;
  font-weight: 300;
  color: #353535;
}
.Intro__button {
  width: 60%;
  height: 50px;
  border-radius: 50px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  box-shadow: 0 3px 6px #aaa;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.Intro__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.Intro__button:hover {
  box-shadow: 0 4px 6px #888;
  transition: box-shadow 0.3s ease-in-out;
}
.Intro__button:hover::after {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.Instruction {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.Instruction .step-container {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.Instruction__step {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 3px 6px #ccc;
  margin-bottom: 1.2rem;
  position: relative;
}
.Instruction__step i {
  font-size: 18px;
  color: #888;
  position: absolute;
  left: 11%;
}
.Instruction .last {
  background-color: rgba(147, 86, 220, 0.1);
}
.Instruction .last i {
  color: #9356dc;
}
.Instruction__index {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.Restaurant {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}
.Restaurant__card-container {
  position: relative;
  margin-bottom: 1.2rem;
}
.Restaurant__card {
  width: 100%;
  height: 254px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px #ccc;
  overflow: hidden;
  position: relative;
}
.Restaurant__card .notif {
  width: 80px;
  height: 28px;
  color: #008766;
  background-color: #99e2d0;
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}
.Restaurant__card .portrait {
  object-position: 0 -154px;
}
.Restaurant__card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 0 -46px;
}
.Restaurant__card-content {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  position: relative;
}
.Restaurant__card-content h4 {
  margin: 0;
  font-size: 18px;
}
.Restaurant .icon-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: 100;
  margin-right: 24px;
}
.Restaurant .icon-btn i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
}
.Restaurant .icon-btn .empty {
  opacity: 1;
}
.Restaurant .icon-btn .full {
  opacity: 0;
  transform: scale(0);
  background: -webkit-linear-gradient(-45deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.Restaurant .icon-btn:active .empty, .Restaurant .icon-btn:focus .empty {
  opacity: 0;
  transition: opacity 0.3s 0.1s ease-in-out;
}
.Restaurant .icon-btn:active .full, .Restaurant .icon-btn:focus .full {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-in;
}

.Footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #353535;
  color: white;
}
.Footer ul {
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0 0 0;
  padding: 0;
}
.Footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 15px;
}
.Footer ul li i {
  font-size: 14px;
  margin-right: 6px;
}
.Footer ul li .small {
  font-size: 12px;
  width: 12px;
}

.Image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding: 1rem;
}

.Menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Menu .item-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Menu__item {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px #ccc;
  align-items: center;
  overflow: hidden;
}
.Menu__item:hover .Menu__check {
  width: 20%;
  transition: width 0.3s ease-in;
}
.Menu__item:hover .Menu__item-content {
  width: 80%;
  transition: width 0.3s ease-in;
}
.Menu__item:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in;
}
.Menu__item-content {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.6rem 1.5rem 0.6rem 0.5rem;
  transition: width 0.3s ease-in;
}
.Menu__title {
  margin: 0;
}
.Menu__content-details {
  align-items: center;
  justify-content: space-between;
}
.Menu__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
}
.Menu__check {
  width: 0%;
  height: 100%;
  display: flex;
  background-color: #99e2d0;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: width 0.3s ease-in;
}

/*# sourceMappingURL=style.css.map */
