@media screen and (min-width: 750px) {
  .Nav {
    height: 90px;
    animation: nav-translate .3s ease-in 1.5s backwards;
  }

  .Location {
    margin-top: 90px;

    &__icon {
      position: static;
      margin-right: 1rem
    }
  }

  .Instruction {
    .step-container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    &__step {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .Restaurant {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
  }

  .Footer {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1280px) {
  .Restaurant {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1336px) {
  .App {
    max-width: 1336px;
    margin: auto;

    .Nav {
      max-width: 1336px;
    margin: auto;
    }

    .Instruction, .Restaurant {
      padding: 0 3rem
    }

    .Footer {
      padding: 1rem 3rem;
    }
  }
}

